.elementor-159936 .elementor-element.elementor-element-669aa922 > .elementor-container{min-height:400px;}.elementor-159936 .elementor-element.elementor-element-669aa922 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-159936 .elementor-element.elementor-element-669aa922:not(.elementor-motion-effects-element-type-background), .elementor-159936 .elementor-element.elementor-element-669aa922 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#203741;}.elementor-159936 .elementor-element.elementor-element-669aa922, .elementor-159936 .elementor-element.elementor-element-669aa922 > .elementor-background-overlay{border-radius:8px 8px 8px 8px;}.elementor-159936 .elementor-element.elementor-element-669aa922{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-159936 .elementor-element.elementor-element-669aa922 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-159936 .elementor-element.elementor-element-7836eb23 > .elementor-element-populated{padding:40px 40px 40px 40px;}.elementor-159936 .elementor-element.elementor-element-76df1ae7{text-align:center;}.elementor-159936 .elementor-element.elementor-element-76df1ae7 .elementor-heading-title{color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-76df1ae7 > .elementor-widget-container{padding:0% 0% 0% 0%;}.elementor-159936 .elementor-element.elementor-element-e9c5bb1{text-align:center;color:#FFFFFF;font-size:var( --e-global-typography-e3ef728-font-size );line-height:var( --e-global-typography-e3ef728-line-height );letter-spacing:var( --e-global-typography-e3ef728-letter-spacing );word-spacing:var( --e-global-typography-e3ef728-word-spacing );}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group{margin-bottom:30px;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-form-fields-wrapper{margin-bottom:-30px;}body.rtl .elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-labels-inline .elementor-field-group > label{padding-left:5px;}body:not(.rtl) .elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-labels-inline .elementor-field-group > label{padding-right:5px;}body .elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-labels-above .elementor-field-group > label{padding-bottom:5px;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group > label, .elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-subgroup label{color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group > label{font-size:14px;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group .elementor-field, .elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-subgroup label{font-family:"Arial", Sans-serif;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#E3E4E5;border-width:0px 0px 0px 0px;border-radius:8px 8px 8px 8px;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-field-group .elementor-select-wrapper select{background-color:#E3E4E5;border-width:0px 0px 0px 0px;border-radius:8px 8px 8px 8px;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-button{font-weight:600;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-7db868cf );color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-button[type="submit"]{background-color:var( --e-global-color-7db868cf );color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-button[type="submit"] svg *{fill:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .e-form__buttons__wrapper__button-next:hover{background-color:var( --e-global-color-695597a1 );color:#ffffff;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-button[type="submit"]:hover{background-color:var( --e-global-color-695597a1 );color:#ffffff;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-message.elementor-message-success{color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-message.elementor-message-danger{color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 .elementor-message.elementor-help-inline{color:#FFFFFF;}.elementor-159936 .elementor-element.elementor-element-455cfcd8{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:43px;}.elementor-159936 .elementor-element.elementor-element-455cfcd8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}#elementor-popup-modal-159936 .dialog-message{width:460px;height:auto;padding:0px 0px 0px 0px;}#elementor-popup-modal-159936{justify-content:center;align-items:center;pointer-events:all;background-color:rgba(53,58,71,0.9);}#elementor-popup-modal-159936 .dialog-close-button{display:flex;font-size:24px;}#elementor-popup-modal-159936 .dialog-widget-content{animation-duration:0.6s;border-radius:10px 10px 10px 10px;box-shadow:2px 2px 20px 1px rgba(0,0,0,0.09);}#elementor-popup-modal-159936 .dialog-close-button i{color:#FFFFFF;}#elementor-popup-modal-159936 .dialog-close-button svg{fill:#FFFFFF;}#elementor-popup-modal-159936 .dialog-close-button:hover i{color:#319e50;}@media(max-width:899px){.elementor-159936 .elementor-element.elementor-element-e9c5bb1{font-size:var( --e-global-typography-e3ef728-font-size );line-height:var( --e-global-typography-e3ef728-line-height );letter-spacing:var( --e-global-typography-e3ef728-letter-spacing );word-spacing:var( --e-global-typography-e3ef728-word-spacing );}#elementor-popup-modal-159936 .dialog-message{padding:0px 0px 0px 0px;}}@media(max-width:899px) and (min-width:600px){.elementor-159936 .elementor-element.elementor-element-7836eb23{width:100%;}}@media(max-width:599px){.elementor-159936 .elementor-element.elementor-element-7836eb23 > .elementor-element-populated{padding:30px 30px 30px 30px;}.elementor-159936 .elementor-element.elementor-element-e9c5bb1{font-size:var( --e-global-typography-e3ef728-font-size );line-height:var( --e-global-typography-e3ef728-line-height );letter-spacing:var( --e-global-typography-e3ef728-letter-spacing );word-spacing:var( --e-global-typography-e3ef728-word-spacing );}#elementor-popup-modal-159936 .dialog-message{width:90vw;padding:0px 0px 0px 0px;}}/* Start custom CSS for form, class: .elementor-element-455cfcd8 */.elementor-field-subgroup {
    text-align: center;
}

label[for=form-field-tocagreed] {
    margin-left: 45px !important;
    font-size: 14px;
    line-height: 2.8em;
}


label[for="form-field-tocagreed-0"] {
    margin-left: 40px;
    line-height: 35px;
} 

input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 0px;
  height: 0px;
  margin-left: 0px !important;
}

input[type=checkbox]:checked:before {
      content: "";
  display: bloxk;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #E3E4E5; 
}


input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #E3E4E5;
}


input[type=checkbox]:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-width: 0 0px 0px 0;
  position: absolute;
  top: 0px;

}


input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 12px;
  height: 21px;
  border: solid #203741;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 10px;
}


/*message*/
.elementor-146380 .elementor-element.elementor-element-20d9466a .elementor-message.elementor-message-success {
    text-align: center;
    margin-top: 30px;
}



/* mobile */
@media only screen and (max-width: 600px) {
    label[for=form-field-tocagreedVN] {
    margin-left: 45px !important;
    font-size: 14px;
    line-height: 2.5em;
}
}/* End custom CSS */
/* Start custom CSS */hover:hover {
  color: red;
}/* End custom CSS */