.elementor-144993 .elementor-element.elementor-element-37ee27a7 > .elementor-container{max-width:1216px;min-height:660px;}.elementor-144993 .elementor-element.elementor-element-37ee27a7 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-144993 .elementor-element.elementor-element-37ee27a7{margin-top:-40px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-524d7ce5 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-7d622612 .elementor-heading-title{color:var( --e-global-color-1214e6c4 );font-size:40px;line-height:1.2em;}.elementor-144993 .elementor-element.elementor-element-7d622612 > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0% 30% 0% 0%;}.elementor-144993 .elementor-element.elementor-element-220d54a6{color:var( --e-global-color-1214e6c4 );font-size:16px;}.elementor-144993 .elementor-element.elementor-element-220d54a6 > .elementor-widget-container{margin:0px 0px -20px 0px;padding:0% 10% 0% 0%;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd .elementor-button{font-weight:500;fill:#ffffff;color:#ffffff;background-color:#39b75d;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd .elementor-button:hover, .elementor-144993 .elementor-element.elementor-element-7ca3ebd .elementor-button:focus{color:#ffffff;background-color:#319e50;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd .elementor-button:hover svg, .elementor-144993 .elementor-element.elementor-element-7ca3ebd .elementor-button:focus svg{fill:#ffffff;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd{width:auto;max-width:auto;}.elementor-144993 .elementor-element.elementor-element-53a98bbc > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-6e919a51 > .elementor-container{max-width:1216px;}.elementor-144993 .elementor-element.elementor-element-6e919a51:not(.elementor-motion-effects-element-type-background), .elementor-144993 .elementor-element.elementor-element-6e919a51 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F7F7;}.elementor-144993 .elementor-element.elementor-element-6e919a51{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-144993 .elementor-element.elementor-element-6e919a51 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-144993 .elementor-element.elementor-element-42b1c059 > .elementor-element-populated{padding:0% 0% 0% 0%;}.elementor-144993 .elementor-element.elementor-element-56117bd0 > .elementor-container{max-width:1072px;}.elementor-144993 .elementor-element.elementor-element-56117bd0{margin-top:0px;margin-bottom:0px;}.elementor-144993 .elementor-element.elementor-element-49d623b0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-element-populated, .elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-element-populated > .elementor-background-overlay, .elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-background-slideshow{border-radius:8px 8px 8px 8px;}.elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;padding:32px 32px 32px 32px;}.elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-144993 .elementor-element.elementor-element-7b0d9a7b .elementor-heading-title{font-size:20px;}.elementor-144993 .elementor-element.elementor-element-7b0d9a7b > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-33934b05{color:#485256;font-size:14px;line-height:20px;}.elementor-144993 .elementor-element.elementor-element-33934b05 > .elementor-widget-container{margin:0px 0px -15px 0px;padding:0px 10px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-3ea631ef .elementor-heading-title{font-size:18px;}.elementor-144993 .elementor-element.elementor-element-3ea631ef > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-221f3037{column-gap:0px;color:#17262B;font-size:16px;line-height:24px;}.elementor-144993 .elementor-element.elementor-element-7e2bcae2 .elementor-button{font-weight:500;fill:#ffffff;color:#ffffff;background-color:#39b75d;}.elementor-144993 .elementor-element.elementor-element-7e2bcae2 .elementor-button:hover, .elementor-144993 .elementor-element.elementor-element-7e2bcae2 .elementor-button:focus{color:#ffffff;background-color:#319e50;}.elementor-144993 .elementor-element.elementor-element-7e2bcae2 .elementor-button:hover svg, .elementor-144993 .elementor-element.elementor-element-7e2bcae2 .elementor-button:focus svg{fill:#ffffff;}.elementor-144993 .elementor-element.elementor-element-7e2bcae2 > .elementor-widget-container{margin:10px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-37bef689:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-element-populated, .elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-element-populated > .elementor-background-overlay, .elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-background-slideshow{border-radius:8px 8px 8px 8px;}.elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 10px 10px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;padding:32px 32px 32px 32px;}.elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-144993 .elementor-element.elementor-element-72313e58 .elementor-heading-title{font-size:20px;}.elementor-144993 .elementor-element.elementor-element-72313e58 > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-50d3f6d2{color:#485256;font-size:14px;line-height:20px;}.elementor-144993 .elementor-element.elementor-element-50d3f6d2 > .elementor-widget-container{margin:0px 0px -15px 0px;padding:0px 10px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-39c8ef35 .elementor-heading-title{font-size:18px;}.elementor-144993 .elementor-element.elementor-element-39c8ef35 > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-504d00f5{column-gap:0px;color:#17262B;font-size:16px;line-height:24px;}.elementor-144993 .elementor-element.elementor-element-666ffd24 .elementor-button{font-weight:500;fill:#ffffff;color:#ffffff;background-color:#39b75d;}.elementor-144993 .elementor-element.elementor-element-666ffd24 .elementor-button:hover, .elementor-144993 .elementor-element.elementor-element-666ffd24 .elementor-button:focus{color:#ffffff;background-color:#319e50;}.elementor-144993 .elementor-element.elementor-element-666ffd24 .elementor-button:hover svg, .elementor-144993 .elementor-element.elementor-element-666ffd24 .elementor-button:focus svg{fill:#ffffff;}.elementor-144993 .elementor-element.elementor-element-666ffd24 > .elementor-widget-container{margin:38px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-6e0ff691 > .elementor-container{max-width:1216px;}.elementor-144993 .elementor-element.elementor-element-6e0ff691 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-144993 .elementor-element.elementor-element-6e0ff691{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-540c6d6e );transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:120px;margin-bottom:120px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-6e0ff691, .elementor-144993 .elementor-element.elementor-element-6e0ff691 > .elementor-background-overlay{border-radius:8px 8px 8px 8px;}.elementor-144993 .elementor-element.elementor-element-6e0ff691 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-144993 .elementor-element.elementor-element-362ce09a > .elementor-element-populated{padding:50px 50px 50px 50px;}.elementor-144993 .elementor-element.elementor-element-240d1a6a{text-align:left;}.elementor-144993 .elementor-element.elementor-element-240d1a6a .elementor-heading-title{color:var( --e-global-color-1214e6c4 );}.elementor-144993 .elementor-element.elementor-element-240d1a6a > .elementor-widget-container{margin:0px 0px -30px 0px;padding:0% 20% 0% 0%;}.elementor-144993 .elementor-element.elementor-element-cc68155 > .elementor-widget-container{margin:-10px 0px -30px 0px;}.elementor-144993 .elementor-element.elementor-element-798ebe9a .elementor-button{font-weight:500;fill:#ffffff;color:#ffffff;background-color:#39b75d;}.elementor-144993 .elementor-element.elementor-element-798ebe9a .elementor-button:hover, .elementor-144993 .elementor-element.elementor-element-798ebe9a .elementor-button:focus{color:#ffffff;background-color:#319e50;}.elementor-144993 .elementor-element.elementor-element-798ebe9a .elementor-button:hover svg, .elementor-144993 .elementor-element.elementor-element-798ebe9a .elementor-button:focus svg{fill:#ffffff;}.elementor-144993 .elementor-element.elementor-element-798ebe9a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-798ebe9a{width:auto;max-width:auto;}.elementor-144993 .elementor-element.elementor-element-34f2fae4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("https://printify.com/wp-content/uploads/2020/11/Holiday-Fulfillment-Order-Routing.jpg");background-position:0px -87px;background-repeat:no-repeat;background-size:cover;}.elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}.elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-144993 .elementor-element.elementor-element-61c2c7a9{--spacer-size:50px;}.elementor-144993 .elementor-element.elementor-element-37ef6529 > .elementor-container{max-width:1072px;}.elementor-144993 .elementor-element.elementor-element-37ef6529:not(.elementor-motion-effects-element-type-background), .elementor-144993 .elementor-element.elementor-element-37ef6529 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F7F7;}.elementor-144993 .elementor-element.elementor-element-37ef6529{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 0px 120px 0px;}.elementor-144993 .elementor-element.elementor-element-37ef6529 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-144993 .elementor-element.elementor-element-398785b4.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-144993 .elementor-element.elementor-element-398785b4 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-37b06371{text-align:center;width:auto;max-width:auto;}.elementor-144993 .elementor-element.elementor-element-37b06371 .elementor-heading-title{line-height:1.3em;}.elementor-144993 .elementor-element.elementor-element-37b06371 > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0% 0% 0% 0%;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41.elementor-view-stacked .elementor-icon{background-color:#18C75A;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41.elementor-view-framed .elementor-icon, .elementor-144993 .elementor-element.elementor-element-2c5d7b41.elementor-view-default .elementor-icon{fill:#18C75A;color:#18C75A;border-color:#18C75A;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41{--icon-box-icon-margin:16px;width:auto;max-width:auto;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41 .elementor-icon{font-size:32px;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41 .elementor-icon-box-title{margin-bottom:0px;color:#18C75A;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41 .elementor-icon-box-title, .elementor-144993 .elementor-element.elementor-element-2c5d7b41 .elementor-icon-box-title a{font-size:32px;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41 > .elementor-widget-container{margin:06px 0px 0px 24px;}.elementor-144993 .elementor-element.elementor-element-63c59dc7{text-align:center;}.elementor-144993 .elementor-element.elementor-element-63c59dc7 > .elementor-widget-container{margin:40px 0px -30px 0px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title{border-width:1px;border-color:#C4C7C8;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-content{border-width:1px;border-bottom-color:#C4C7C8;padding:25px 80px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-item:not(:last-child){margin-bottom:20px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-title, .elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-icon{color:#17262B;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-icon svg{fill:#17262B;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title.elementor-active a, .elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title.elementor-active .elementor-toggle-icon{color:#39B75D;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-title{font-size:18px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title .elementor-toggle-icon i:before{color:#17262B;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title .elementor-toggle-icon svg{fill:#17262B;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title.elementor-active .elementor-toggle-icon i:before{color:#17262B;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-title.elementor-active .elementor-toggle-icon svg{fill:#17262B;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-icon.elementor-toggle-icon-left{margin-right:4px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-icon.elementor-toggle-icon-right{margin-left:4px;}.elementor-144993 .elementor-element.elementor-element-476fd661 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-670e7b{text-align:center;width:auto;max-width:auto;}.elementor-144993 .elementor-element.elementor-element-670e7b .elementor-heading-title{line-height:1.3em;}.elementor-144993 .elementor-element.elementor-element-670e7b > .elementor-widget-container{margin:120px 0px -40px 0px;padding:0% 0% 0% 0%;}.elementor-144993 .elementor-element.elementor-element-4abc4f1a{text-align:center;}.elementor-144993 .elementor-element.elementor-element-4abc4f1a > .elementor-widget-container{margin:40px 0px -30px 0px;padding:0% 20% 0% 20%;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title{border-width:1px;border-color:#C4C7C8;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-content{border-width:1px;border-bottom-color:#C4C7C8;line-height:1.8em;padding:25px 0px 20px 0px;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-item:not(:last-child){margin-bottom:20px;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-title, .elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-icon{color:#17262B;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-icon svg{fill:#17262B;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title.elementor-active a, .elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title.elementor-active .elementor-toggle-icon{color:#39B75D;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-title{font-size:18px;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title .elementor-toggle-icon i:before{color:#17262B;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title .elementor-toggle-icon svg{fill:#17262B;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title.elementor-active .elementor-toggle-icon i:before{color:#17262B;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-title.elementor-active .elementor-toggle-icon svg{fill:#17262B;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-icon.elementor-toggle-icon-left{margin-right:4px;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-icon.elementor-toggle-icon-right{margin-left:4px;}.elementor-144993 .elementor-element.elementor-element-692e8616 > .elementor-widget-container{padding:0px 0px 0px 0px;}:root{--page-title-display:none;}body.elementor-page-144993{padding:16px 16px 16px 16px;}@media(max-width:899px){.elementor-144993 .elementor-element.elementor-element-37ee27a7 > .elementor-container{min-height:0px;}.elementor-144993 .elementor-element.elementor-element-37ee27a7{margin-top:-20px;margin-bottom:0px;padding:50px 0px 80px 0px;}.elementor-144993 .elementor-element.elementor-element-524d7ce5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:25px 0px 0px 20px;}.elementor-144993 .elementor-element.elementor-element-7d622612{text-align:left;}.elementor-144993 .elementor-element.elementor-element-7d622612 > .elementor-widget-container{margin:0px 100px -45px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-220d54a6 > .elementor-widget-container{margin:0px 0px -35px 0px;padding:0px 20px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd > .elementor-widget-container{margin:010px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd{width:initial;max-width:initial;}.elementor-144993 .elementor-element.elementor-element-53a98bbc > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-73034f29 img{width:95%;}.elementor-144993 .elementor-element.elementor-element-6e919a51{padding:120px 20px 120px 20px;}.elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-element-populated{margin:0px 20px 20px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-144993 .elementor-element.elementor-element-7e2bcae2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-element-populated{margin:20px 20px 20px 20px;--e-column-margin-right:20px;--e-column-margin-left:20px;}.elementor-144993 .elementor-element.elementor-element-666ffd24 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-6e0ff691{margin-top:120px;margin-bottom:120px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-362ce09a > .elementor-element-populated{padding:25px 20px 50px 20px;}.elementor-144993 .elementor-element.elementor-element-240d1a6a .elementor-heading-title{line-height:1.3em;}.elementor-144993 .elementor-element.elementor-element-240d1a6a > .elementor-widget-container{margin:0px 0px -45px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-cc68155 > .elementor-widget-container{margin:0px 0px -30px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-798ebe9a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-798ebe9a{width:initial;max-width:initial;}.elementor-144993 .elementor-element.elementor-element-34f2fae4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px -110px;}.elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-element-populated{padding:0px 0px 0px 20px;}.elementor-144993 .elementor-element.elementor-element-61c2c7a9{--spacer-size:410px;}.elementor-144993 .elementor-element.elementor-element-37b06371{text-align:center;}.elementor-144993 .elementor-element.elementor-element-37b06371 > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0% 10% 0% 10%;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41 > .elementor-widget-container{margin:20px 0px 20px 0px;}.elementor-144993 .elementor-element.elementor-element-63c59dc7 > .elementor-widget-container{margin:0px 0px -30px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-content{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-476fd661 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-144993 .elementor-element.elementor-element-670e7b{text-align:center;}.elementor-144993 .elementor-element.elementor-element-670e7b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:120px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-4abc4f1a > .elementor-widget-container{margin:0px 0px -30px 0px;padding:0px 20px 0px 20px;}.elementor-144993 .elementor-element.elementor-element-692e8616 > .elementor-widget-container{padding:0px 20px 0px 20px;}body.elementor-page-144993{padding:0px 0px 0px 0px;}}@media(max-width:599px){.elementor-144993 .elementor-element.elementor-element-37ee27a7{margin-top:0px;margin-bottom:0px;padding:20px 0px 60px 0px;}.elementor-144993 .elementor-element.elementor-element-524d7ce5.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-144993 .elementor-element.elementor-element-524d7ce5 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:25px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-7d622612{text-align:left;}.elementor-144993 .elementor-element.elementor-element-7d622612 .elementor-heading-title{font-size:30px;line-height:1.2em;}.elementor-144993 .elementor-element.elementor-element-7d622612 > .elementor-widget-container{margin:0px 0px -47px 20px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-220d54a6 > .elementor-widget-container{margin:0px 20px -35px 20px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 0px 20px;}.elementor-144993 .elementor-element.elementor-element-7ca3ebd{width:100%;max-width:100%;}.elementor-144993 .elementor-element.elementor-element-73034f29 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-6e919a51{padding:80px 20px 80px 20px;}.elementor-144993 .elementor-element.elementor-element-49d623b0 > .elementor-element-populated{margin:0px 0px 10px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-144993 .elementor-element.elementor-element-37bef689 > .elementor-element-populated{margin:10px 0px 10px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-144993 .elementor-element.elementor-element-6e0ff691{margin-top:80px;margin-bottom:80px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-362ce09a > .elementor-element-populated{padding:25px 20px 50px 20px;}.elementor-144993 .elementor-element.elementor-element-240d1a6a .elementor-heading-title{font-size:30px;line-height:1.2em;}.elementor-144993 .elementor-element.elementor-element-240d1a6a > .elementor-widget-container{margin:0px 0px -45px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-cc68155 > .elementor-widget-container{margin:0px 0px -30px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-798ebe9a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-798ebe9a{width:100%;max-width:100%;}.elementor-144993 .elementor-element.elementor-element-34f2fae4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px -81px;}.elementor-144993 .elementor-element.elementor-element-34f2fae4 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-61c2c7a9{--spacer-size:298px;}.elementor-144993 .elementor-element.elementor-element-37ef6529{padding:80px 0px 80px 0px;}.elementor-144993 .elementor-element.elementor-element-37b06371{text-align:center;}.elementor-144993 .elementor-element.elementor-element-37b06371 .elementor-heading-title{font-size:30px;line-height:1.3em;}.elementor-144993 .elementor-element.elementor-element-37b06371 > .elementor-widget-container{margin:0px 0px -40px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-2c5d7b41 > .elementor-widget-container{margin:20px 0px 10px 0px;}.elementor-144993 .elementor-element.elementor-element-63c59dc7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-toggle-title{font-size:18px;}.elementor-144993 .elementor-element.elementor-element-476fd661 .elementor-tab-content{padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-476fd661 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-670e7b{text-align:center;}.elementor-144993 .elementor-element.elementor-element-670e7b .elementor-heading-title{font-size:30px;line-height:1.3em;}.elementor-144993 .elementor-element.elementor-element-670e7b > .elementor-widget-container{margin:0px 0px -10px 0px;padding:80px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-4abc4f1a > .elementor-widget-container{margin:0px 0px -30px 0px;padding:0px 0px 0px 0px;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-toggle-title{font-size:18px;}.elementor-144993 .elementor-element.elementor-element-692e8616 .elementor-tab-content{padding:20px 20px 0px 20px;}.elementor-144993 .elementor-element.elementor-element-692e8616 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body.elementor-page-144993{padding:0px 0px 0px 0px;}}@media(min-width:600px){.elementor-144993 .elementor-element.elementor-element-524d7ce5{width:49.643%;}.elementor-144993 .elementor-element.elementor-element-53a98bbc{width:50.314%;}.elementor-144993 .elementor-element.elementor-element-13b3ce03{width:10%;}.elementor-144993 .elementor-element.elementor-element-49d623b0{width:40%;}.elementor-144993 .elementor-element.elementor-element-37bef689{width:40%;}.elementor-144993 .elementor-element.elementor-element-3cf5eb15{width:10%;}.elementor-144993 .elementor-element.elementor-element-362ce09a{width:50%;}.elementor-144993 .elementor-element.elementor-element-34f2fae4{width:50%;}}@media(max-width:899px) and (min-width:600px){.elementor-144993 .elementor-element.elementor-element-524d7ce5{width:100%;}.elementor-144993 .elementor-element.elementor-element-53a98bbc{width:100%;}.elementor-144993 .elementor-element.elementor-element-49d623b0{width:100%;}.elementor-144993 .elementor-element.elementor-element-37bef689{width:100%;}.elementor-144993 .elementor-element.elementor-element-362ce09a{width:100%;}.elementor-144993 .elementor-element.elementor-element-34f2fae4{width:100%;}}/* Start custom CSS for toggle, class: .elementor-element-476fd661 *//* info (hed, dek, source, credit) */
.rg-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 1em 0.5em;
    color: #222;
  }

  .rg-header {
    margin-bottom: 1em;
    text-align: center;
  }
  
  .rg-header > * {
    display: block;
  }

  .rg-hed {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  
  /* Business days addition */
  .business-days {
      font-size: 13px;
      display: block;
  }
  
  /* column width */
  .col-1 {
      width: 35%;
       padding-bottom: 30px !important;
  }
  
  .col-2 {
      width: 30%;
       padding-bottom: 30px !important;
  }
  
  .col-3 {
      width: 35%;
      padding-bottom: 30px !important;
  }
  
  .col-4 {
      width: 20%;
      padding-bottom: 30px !important;
  }
  
  .col-5 {
      width: 15%;
      padding-bottom: 30px !important;
  }
  
  .col-6 {
      width: 30%;
      padding-bottom: 30px !important;
  }
  
  .col-7 {
      width: 35%;
      padding-bottom: 30px !important;
  }
  
  
   .col-8 {
      width: 15%;
      padding-bottom: 30px !important;
  }
  
   .col-9 {
      width: 20%;
      padding-bottom: 30px !important;
  }
  
   .col-10 {
      width: 30%;
      padding-bottom: 30px !important;
  }
  
   .col-11{
      width: 35%;
      padding-bottom: 30px !important;
  }
  

  
  
  
  

  .rg-dek {
    font-size: 1em;
  }
  
  .rg-source {
    margin: 0;
    font-size: 0.75em;
    text-align: center;
  }

  .rg-source .pre-colon {
    text-transform: uppercase;
  }
  
  .rg-source .post-colon {
    font-weight: bold;
  }
  
  /* table */
  table.testcell{color:#000}
  table.rg-table {
    width: 100%;
    margin-bottom: 0.2em;
    font-size: 1em;
    border-collapse:separate; border-spacing:0 10px;
    ;
  }

  table.rg-table tr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    color: #333;
  }

  table.rg-table thead {
    border-bottom: 5px solid #000;
    background-color: #F7F7F7;
  }

  table.rg-table tr {
    border-bottom: 2px solid #000;
    color: #222;
  }

  table.rg-table tr.highlight {
    background-color: #000 !important;
  }

  table.rg-table.zebra tr:nth-child(even) {
    background-color: #000;
  }

  table.rg-table th {
    font-weight: bold;
    padding: 0.5em;
    font-size: 0.9em;
  }

  table.rg-table td {
    padding: 0.6em;
    font-size: 0.9em;
    border-radius: 0.3em;
  }

  table.rg-table .highlight td {
    font-weight: bold;
  }

  table.rg-table th.number,
  td.number {
    text-align: center;
  }

  .yellow {
    color: #17262B;
    background-color:#F5C240;
  }

  .green {
      color: white;
      background-color: #39b75d;
  }

  .gray {
    color: #222;
    background-color: #C4C7C8;
  }

  .red {
    color: white;
    background-color: red;  
  }



  
  /* media queries */
  @media screen and (max-width: 600px) {
    .rg-container {
      max-width: 600px;
      margin: 0 auto;
    }

    table.rg-table {
      width: 100%;
    }
    
 

  table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
      display: none;
    } 
    


   table.rg-table thead {
      display: none;
      
   }   
   
   
   /* head display*/
 .mobile-head {
       display: inline-block !important;
       border-bottom: 1px solid #ccc !important;
       width: 100% !important;
   }
   
   .mobile-head .col-1, .mobile-head .col-2 {
       display: none;
   }
   
    .mobile-head .col-3 {
          width: 100%;
          padding-bottom: 0px !important;
      }
      
     .mobile-head tr {
         padding-bottom: 15px !important;
         margin-bottom: 0px !important;
     } 
     
     
     .mobile-head .col-4, .mobile-head .col-5, .mobile-head .col-6, .mobile-head .col-8, .mobile-head .col-9, .mobile-head .col-10 {
       display: none;
   }
   
    .mobile-head .col-7, .mobile-head .col-11 {
          width: 100%;
          padding-bottom: 0px !important;
      }
      

      
    
    
    

    table.rg-table tbody {
      width: 100%;
    }

    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
      display: block;
      padding: 0;
    }

    table.rg-table tr {
      border-bottom: none;
      margin: 0 0 1em 0;
      padding: 0.5em;
    }

    table.rg-table tr.highlight {
      background-color: inherit !important;
    }

    table.rg-table.zebra tr:nth-child(even) {
      background-color: transparent;
    }

    table.rg-table.zebra td:nth-child(even) {
      background-color: #f6f6f6;
    }

    table.rg-table tr:nth-child(even) {
      background-color: transparent;
    }

    table.rg-table td {
      padding: 0.3em 0.5em 0.25em 0.5em;
      border-bottom: 1px dotted #ccc;
      text-align: center;
    }

    table.rg-table td:last-child {
      padding-right: 0.5em;
      border-bottom: px solid #ccc;
    }

    table.rg-table td:empty {
      display: none;
    }

    table.rg-table .highlight td {
      background-color: inherit;
      font-weight: normal;
    }
  }/* End custom CSS */
/* Start custom CSS for toggle, class: .elementor-element-692e8616 *//* info (hed, dek, source, credit) */
.rg-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 1em 0.5em;
    color: #222;
  }

  .rg-header {
    margin-bottom: 1em;
    text-align: center;
  }
  
  .rg-header > * {
    display: block;
  }

  .rg-hed {
    font-weight: bold;
    font-size: 1.4em;
  }

  .rg-dek {
    font-size: 1em;
  }
  
  .rg-source {
    margin: 0;
    font-size: 0.75em;
    text-align: center;
  }

  .rg-source .pre-colon {
    text-transform: uppercase;
  }
  
  .rg-source .post-colon {
    font-weight: bold;
  }
  
  /* table */
  table.testcell{color:#000}
  table.rg-table {
    width: 100%;
    margin-bottom: 0.2em;
    font-size: 1em;
    border-collapse:separate; border-spacing:0 10px;
    ;
  }

  table.rg-table tr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    color: #333;
  }

  table.rg-table thead {
    border-bottom: 5px solid #000;
    background-color: #F7F7F7;
  }

  table.rg-table tr {
    border-bottom: 2px solid #000;
    color: #222;
  }

  table.rg-table tr.highlight {
    background-color: #000 !important;
  }

  table.rg-table.zebra tr:nth-child(even) {
    background-color: #000;
  }

  table.rg-table th {
    font-weight: bold;
    padding: 0.5em;
    font-size: 0.9em;
  }

  table.rg-table td {
    padding: 0.6em;
    font-size: 0.9em;
    border-radius: 0.3em;
  }

  table.rg-table .highlight td {
    font-weight: bold;
  }

  table.rg-table th.number,
  td.number {
    text-align: center;
  }

  .yellow {
    color: #17262B;
    background-color:#F5C240;
  }

  .green {
      color: white;
      background-color: #39b75d;
  }

  .gray {
    color: #222;
    background-color: #C4C7C8;
  }

  .red {
    color: white;
    background-color: red;  
  }



  
  /* media queries */
  @media screen and (max-width: 600px) {
    .rg-container {
      max-width: 600px;
      margin: 0 auto;
    }

    table.rg-table {
      width: 100%;
    }

    table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
      display: none;
    }

    table.rg-table thead {
      display: none;
    }

    table.rg-table tbody {
      width: 100%;
    }

    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
      display: block;
      padding: 0;
    }

    table.rg-table tr {
      border-bottom: none;
      margin: 0 0 1em 0;
      padding: 0.5em;
    }

    table.rg-table tr.highlight {
      background-color: inherit !important;
    }

    table.rg-table.zebra tr:nth-child(even) {
      background-color: transparent;
    }

    table.rg-table.zebra td:nth-child(even) {
      background-color: #f6f6f6;
    }

    table.rg-table tr:nth-child(even) {
      background-color: transparent;
    }

    table.rg-table td {
      padding: 0.3em 0.5em 0.25em 0.5em;
      border-bottom: 1px dotted #ccc;
      text-align: center;
    }

    table.rg-table td:last-child {
      padding-right: 0.5em;
      border-bottom: px solid #ccc;
    }

    table.rg-table td:empty {
      display: none;
    }

    table.rg-table .highlight td {
      background-color: inherit;
      font-weight: normal;
    }
  }/* End custom CSS */
/* Start custom CSS */.elementor-icon-list-item {
align-items: flex-start !important;
}
.elementor-icon-list-icon {
margin-top: 3px;
}/* End custom CSS */